:root {
  --primary-color: #02afcd;
  --secundary-color: #9ff1ff;
  --color-text: #404040;
  --color-text-secundary: #606060;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* Navbar */

.navBar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  row-gap: 2em;
}

.navBar .logo img {
  width: 185px;
}

.navBar nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  row-gap: 1.5em;
}

.navBar nav ul li {
  list-style: none;
}

.navBar nav ul li a {
  text-decoration: none;
  color: var(--color-text);
  text-transform: uppercase;
  font-size: 14px;
}

.navBar nav ul li a:hover {
  color: var(--primary-color);
}

a.active {
  color: var(--primary-color);
}

.iconSocial {
  align-items: center;
  height: 25px;
  overflow: hidden;
  display: none;
}

.navBar nav ul li a.active {
  color: var(--primary-color);
}

/* Navbar */

/* Slider */
.sliderHeader {
  position: relative;
  width: 100%;
}

.container-slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.slider {
  position: relative;
  display: flex;
  width: 300%;
  margin-left: -100%;
}

.slider__section {
  width: 100%;
}

.slider__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.slider__btn img {
  width: 15px;
}

.slider__btn--left {
  left: 20px;
}

.slider__btn--right {
  right: 20px;
}

/* Slider */

/* mostSale */
main {
  margin-top: 60px;
}

.aboutContain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  padding: 20px;
  margin: 30px 0;
}

.nosotros {
  max-width: 450px;
}

.nosotros__desripcion h3 {
  max-width: 385px;
  font-size: 24px;
  font-weight: normal;
}

.nosotros__desripcion p {
  margin: 15px 0 24px 0;
  max-width: 401px;
  font-size: 14px;
  font-weight: normal;
  color: var(--color-text-secundary);
}

.nosotros__main h3 {
  font-size: 24px;
  font-weight: bold;
}

.cardInfo {
  margin: 12px 0;
  position: relative;
  background-color: #f5f5f5;
  padding: 15px 20px;
  border-radius: 12px 12px 0 0;
}

.whyChoose h2 {
  margin-bottom: 24px;
}

.feature__content h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.feature__content p {
  max-width: 274px;
  font-size: 14px;
  font-weight: normal;
  color: #545454;
}

.features {
  display: flex;
  gap: 16px;
  margin: 20px 0;
}

.titleContent {
  text-align: center;
}

.titleContent p {
  max-width: none;
}

.contacto {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  flex-direction: column;
  margin: 60px 0;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.formularios__inputs {
  width: 360px;
}

.formularios__inputs .input {
  height: 90px;
}

.formularios__inputs .message {
  height: 330px;
}

.formulario label {
  display: block;
  margin-bottom: 8px;
}

.formulario .input {
  margin: 24px 0;
}

.contactoImage {
  width: 100%;
  height: 686px;
}

.contactoImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

textarea {
  width: 100%;
  padding: 16px;
  border: 1px solid #ccc;
}

.formulario input[name="edad"] {
  width: 60px;
}

.borderBottom {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 40px;
  background-color: var(--primary-color);
  width: 280px;
  height: 2px;
}

.formulario .buttonSend {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
}

.formulario .buttonSend:hover {
  background-color: #4fc8de;
}

.mostSale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.titleContent h2 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.titleContent span {
  display: block;
  color: var(--primary-color);
}

.titleContent p {
  color: var(--color-text-secundary);
  font-size: 14px;
  margin-top: 8px;
}

.titleContent hr {
  margin-top: 16px;
  border-color: var(--primary-color);
  width: 45px;
}

.listProductsTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
/* mostSale */

/* Page Productos */

.productos {
  display: flex;
  margin: 60px 0;
  flex-direction: column;
  row-gap: 0;
}

.modalBody {
  text-align: center;
}

.menuProductos {
  display: none;
}

.menuProductos ul {
  padding: 0;
}

.menuProductos h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 60px 0 24px 0;
}

.menuProductos ul li {
  position: relative;
  cursor: pointer;
  list-style: none;
  font-size: 16px;
  font-weight: normal;
  margin: 16px 0;
}

.itemProduct {
  height: auto;
  padding: 20px;
  box-shadow: 0 4px 4px 0 rgba(108, 108, 108, 0.12);
  background-color: #fff;
  border-radius: 6px;
}

.itemProduct__content h3 {
  max-width: 150px;
  font-size: 14px;
  height: 32px;
  font-weight: normal;
}

.itemProduct__content span {
  font-size: 12px;
  font-weight: 300;
}

.itemProduct__img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  transform: scale(0.8);
}

.itemProduct__img:hover {
  transform: scale(1);
  transition: 0.4s all ease;
}

.productos__contentRight {
  width: 100%;
}

.search {
  display: flex;
  margin-bottom: 16px;
  justify-content: center;
}

.search input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
  margin-left: 8px;
}

.productos__contenRight {
  width: 100%;
}

.listProductos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 12px;
  width: 100%;
}

.itemProduct__content p {
  font-size: 12px;
  font-weight: 300;
  margin-top: 12px;
  margin-bottom: 24px;
}

.itemProduct__content p span {
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
}

.itemProduct__count {
  display: flex;
  align-items: center;
}

.itemProduct__count span {
  display: inline-block;
  margin: 0 16px;
}

.itemProduct__count button {
  background-color: transparent;
  border: 0;
  width: 18px;
  height: 21px;
  cursor: pointer;
}

.menuProductos ul li::before {
  content: "";
  position: absolute;
  bottom: -4px;
  display: block;
  width: 120px;
  height: 2px;
  margin-top: 4px;
  background-color: #02afcd;
}

.tooltip__message {
  position: relative;
  background-color: #cfbf11;
  top: -2px;
  margin-top: 8px;
  padding: 4px;
  border-radius: 4px;
  padding: 4px 16px;
  align-items: center;
  color: var(--color-text);
  font-size: 9px;
  font-weight: bold;
}

.itemProduct__button {
  display: flex;
  justify-content: flex-end;
}

.itemProduct__button button {
  width: 120px;
  padding: 8px 4px;
  margin-top: 16px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 16px;
  background-color: var(--primary-color);
  color: #fff;
  border: 0;
  cursor: pointer;
}

.itemProduct__button button:hover {
  background-color: #4fc8de;
}
/* Page Productos */

/* Product */

.product img {
  width: 210px;
  cursor: pointer;
  transform: scale(0.8);
}

.product:hover > .productImage {
  transform: scale(1);
  transition: 0.4s all ease;
}

.infoProduct h3 {
  font-size: 14px;
  font-weight: bold;
  width: 160px;
}

.infoProduct span {
  font-size: 12px;
  color: var(--color-text-secundary);
  text-transform: uppercase;
}

.infoProduct p {
  padding-top: 12px;
  padding-right: 16px;
  font-size: 12px;
}

.infoProduct p > span {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}
/* Product */

/* Categories */
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
  padding: 20px;
  background-color: var(--primary-color);
}

.category {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 24px;
}

.category .containImage {
  background-color: #fff;
  width: 105px;
  height: 105px;
  border-radius: 50%;
}

.containImage:hover {
  border: 2px solid #00687a;
  border-spacing: 30px;
  border-style: dashed;
  transform: scale(1.2);
  transition: 0.4s ease;
}

.containImage {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 4;
}

.containImage img {
  width: 60px;
}

.category p {
  text-align: center;
  margin-top: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: lighter;
}
/* Categories */

/* promotionsProducts */
.containPromotions {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.promotionsProducts img {
  width: 100%;
}

/* promotionsProducts */

/* newsletter */
.newsletter {
  display: flex;
  row-gap: 1em;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 6px;
}

.boletinForm {
  height: auto;
}

.newsletter figure {
  display: inline-block;
}

.newsletter figure img {
  width: 100%;
  display: none;
}

.newsletter__content {
  display: flex;
  align-items: center;
}

.newsletter__content h3 {
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  margin-left: 12px;
  text-align: center;
}

.divisionContent {
  height: 80px;
  width: 1px;
  background-color: #fff;
  margin-left: 30px;
  display: none;
}

.newsletter__content p {
  font-size: 14px;
  color: #fff;
  max-width: 180px;
  font-weight: lighter;
  margin-left: 24px;
  display: none;
}

form {
  display: flex;
  align-items: center;
}

form input[type="text"] {
  width: 100%;
  height: 58px;
  padding: 16px;
  background-color: #fff;
  border: 0;
  border-radius: 6px;
  outline: 0;
}

form input[type="submit"] {
  padding: 16px;
  background-color: #005362;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  width: 100%;
  border: 0;
  margin-top: 8px;
  border-radius: 6px;
  height: 58px;
  text-transform: uppercase;
}

form input[type="submit"]:hover {
  background-color: #39cb65;
}

.formulario .formularios__inputs input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* newsletter */

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  background-color: var(--primary-color);
  flex-direction: column;
  row-gap: 2em;
}

.footer nav ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1.2em;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footer nav ul li {
  list-style: none;
}

.footer nav ul a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 16px;
}
/* footer */

.errorEmailInactive {
  display: none;
}

.errorEmailActive {
  display: block;
  font-weight: bold;
  color: red;
  font-size: 12px;
}

.errorExpresionEmailInactive {
  display: none;
}

.errorExpresionEmailActive {
  display: block;
  font-weight: bold;
  color: #ff4000;
  font-size: 12px;
}

@keyframes zoomIcon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
