@media screen and (min-width: 768px) {
  .newsletter {
    justify-content: space-between;
    align-items: center;
  }

  .newsletter__content {
    width: 30%;
  }

  .newsletter__content h3 {
    text-align: left;
  }

  form {
    display: initial;
    width: 60%;
  }

  form input[type="text"] {
    display: inline-block;
    width: 60%;
    border-radius: 6px 0 0 6px;
  }

  form input[type="submit"] {
    width: 30%;
    border-radius: 0 6px 6px 0;
  }

  .categories {
    flex-wrap: nowrap;
  }

  .mostSale {
    flex-direction: column;
  }

  .listProductsTop {
    flex-wrap: wrap;
  }

  .navBar {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .navBar nav ul {
    flex-direction: row;
    margin-bottom: 0;
    padding-left: 0;
  }

  .navBar .logo img {
    width: 195px;
  }

  .navBar nav ul li {
    margin: 18px 16px;
  }

  .navBar nav ul li a {
    font-size: 14px;
  }

  .productos {
    padding: 20px;
    display: block;
  }

  .footer {
    flex-direction: row;
  }

  .footer nav ul {
    flex-direction: row;
  }

  .nosotros {
    max-width: 100%;
  }

  .nosotros__desripcion {
    text-align: center;
  }

  .nosotros__desripcion h3 {
    max-width: 100%;
  }

  .nosotros__desripcion p {
    max-width: 100%;
  }

  .whyChoose h2 {
    text-align: center;
  }

  .features {
    display: inline-flex;
    width: 45%;
    margin: 8px;
  }

  .contactoImage {
    width: 40%;
  }

  .formulario {
    width: 100%;
    flex-direction: row;
  }

  .formularios__inputs {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .navBar {
    flex-direction: initial;
    justify-content: space-between;
  }

  .mostSale {
    flex-direction: row;
  }

  .navBar nav ul {
    flex-direction: initial;
  }

  .navBar nav ul li {
    margin: 18px 10px;
  }

  .navBar nav ul li a {
    font-size: 14px;
  }

  .iconSocial {
    display: initial;
  }

  .titleContent {
    text-align: left;
  }

  .menuProductos {
    display: initial;
  }
  .productos {
    display: flex;
    flex-direction: row;
  }

  .search {
    justify-content: flex-end;
  }

  .promotionsProducts img:nth-of-type(1) {
    width: 748px;
    height: 307px;
    object-fit: cover;
  }

  .promotionsProducts img:nth-of-type(2) {
    width: 400px;
    height: 307px;
    object-fit: cover;
  }

  .promotionsProducts img {
    width: auto;
  }

  .promotionsProducts img:nth-of-type(4) {
    width: 550px;
  }

  .divisionContent {
    display: initial;
  }

  .newsletter__content p {
    display: initial;
  }

  .newsletter__content {
    width: 60%;
  }

  .newsletter figure img {
    display: initial;
  }

  form {
    width: 40%;
  }

  .aboutContain {
    flex-direction: row;
  }

  .contacto {
    flex-direction: row;
  }

  .contactoImage {
    height: 100%;
  }
}
